.createEvent__modal--content--buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    .createEvent__modal--content--edit {
        width: 100%;
        padding: 7px;
        margin: 3vh 0;
        display: block;
        outline: none;
        background-color: green;
        color: white;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid white;
        cursor: pointer;
    }
}