.calendar__events {
    height: 100%;
    padding: 20px;
    width: 100%;

    .calendar__events--heading {
        font-weight: 500;
        font-size: 1.4em;
    }

    .calendar__events--list {
        margin-top: 5vh;
        overflow-y: scroll;
        height: 80%;

        .calendar__events--list--item {
            display: flex;
            align-items: center;
            margin-bottom: 2vh;
            padding-bottom: 1vh;
            border-bottom: 1px solid #e4e4e4;

            .calendar__events--list--item__time {
                margin-right: 20px;
                font-size: 1em;
            }

            .calendar__events--list--item__events {
                display: flex;
                align-items: center;
                width: 100%;
            }
        }
    }
}